{% extends 'base.html.twig' %}

{% block title %}New Event's Poster{% endblock %}

{% block body %}
    <section class="poster_page_new text-white">
        <div class="poster_show_container container">
            <h1 class="poster_page_new_title">Ajouter une image à l'évèvenement</h1>
           <div class="event_form">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-success mb-5">{{ button_label|default('Ajouter une image') }}</button>
                    <a class="text-white ml-1" href="{{ path('home_index') }}">Revenir à l'accueil</a>
                {{ form_end(form) }}
            </div>
            
        </div>
    </section>

{% endblock %}
