{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}

    <section class="event">
        <div class="event_page">
            <h1 class="event_page_title">ÉVÈNEMENTS</h1>
        </div>
        <div class="event_link">
            <a href="{{ path('event_new') }}"><input type="button" class="btn btn-dark" value="Create new"></a>
        </div>
        <div class="event_card row justify-content-around">
        {% for event in events %}
            <div class="card-deck col-xs-12 col-md-6 col-xl-4">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h3 class="event_title card-title">{{ event.name }}</h3>
                        <p class="card-text">{{ event.dateStart ? event.dateStart|date('d/m/Y') : '' }}</p>
                    </div>
                    <div class="event_card_image">
                        <a href="{{ path('event_show', {'id': event.id}) }}"><img class="event_image card-img-top" src="{{ asset( event.poster ) }}" alt="Card image cap"  title="Cliquer sur l'image pour en savoir plus !" /></a>
                        <a href="{{ path('event_show', {'id': event.id}) }}"><input type="button" class="show btn btn-success" value="en savoir plus !" /></a>
                        <a href="{{ path('event_edit', {'id': event.id}) }}"><input type="button" class="edit btn btn-success" value="edit" /></a>
                    </div>
                </div>
            </div>
            {% else %}
                <p colspan="7">no records found</p>
        {% endfor %}
        </div>
    </section>
    
{% endblock %}

{% block javascripts %}

{% endblock %}
