{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <section class="event_show_body text-white">
        <div class="event_show_page">
            <h1 class="event_show_page_title">{{ event.name }}</h1>
        </div>
        <div class="event_show_content d-flex">
            <img class="col-12 col-lg-4" src="{{ asset (event.poster) }}" />
            <div class="event_show_text">
                <p>{{ event.description }}</p>
                <p>Date : {{ event.dateStart ? event.dateStart|localizeddate('none', 'none',null ,null , 'EEEE dd MMMM yyyy') }}</p>
                {% if event.dateEnd is not empty %}
                <p>Fin : {{ event.dateEnd ? event.dateEnd|localizeddate('none', 'none',null ,null , 'EEEE dd MMMM yyyy') }}<p>
                {% endif %}
                {% if event.dateTime is not empty %}
                <p>Horaire : {{ event.dateTime ? event.dateTime|date('H\\Hi') : '' }}</p>
                {% endif %}
                {% if event.location is not empty %}
                <p>Lieu : {{ event.location }}<p>
                {% endif %}
            </div>
        </div>

            <a class="btn btn-light" href="{{ path('event_index') }}">Retour</a>

            <a class="btn btn-success" href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>

            {{ include('event/_delete_form.html.twig') }}
        </div>
    </section>
{% endblock %}
