{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <section class="event_show_body text-white">
        <div class="event_show_page">
            <h1 class="event_show_page_title">{{ event.name }}</h1>
        </div>
        <div class="event_show_content d-flex">
        {% if event.poster is not empty %}
            <img class="col-12 col-lg-4" src="{{ asset ('/images/' ~ event.poster.slug ) }}" />
        {% endif %}
            <div class="event_show_text text-justify">
                <p>{{ event.description }}</p>
                <p>Date : {{ event.startDate ? event.startDate|localizeddate('none', 'none',null ,null , 'EEEE dd MMMM yyyy') }}</p>
                {% if event.endDate is not empty %}
                <p>Fin : {{ event.endDate ? event.endDate|localizeddate('none', 'none',null ,null , 'EEEE dd MMMM yyyy') }}<p>
                {% endif %}
                {% if event.startDate is not empty %}
                <p>Horaire : {{ event.startDate ? event.startDate|date('H\\Hi') : '' }}</p>
                {% endif %}
                {% if event.location is not empty %}
                <p>Lieu : {{ event.location }}<p>
                {% endif %}
            </div>
        </div>
            {% if app.user %}
                <div class="ml-5 mb-2">
                    {{ include('event/_delete_form.html.twig') }}
                </div>
                <div class="ml-5">
                    <a class="btn btn-success" href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>
                </div>
            {% endif %}
            <div class="mt-4 ml-5">
                <a class="text-white" href="{{ path('event_index') }}">Retour</a>
            </div>
        </div>
    </section>
{% endblock %}
