{% extends 'base.html.twig' %}
{% block body %}
<section class="partners">
        <div class="partners_page">
            <h1 class="partners_page_title">ÉVÈNEMENTS</h1>
        </div>
        <div class="partners_link">
            <a class="partners_btn btn btn-dark" href="partnersevent/new">Create new</a>
        </div>
      <div class="d-flex row justify-content-aroud">
        <div class="partners_card">
                    <div class="partners_deck card-deck col-xs-12 col-md-6 col-xl-4">
                <div class="partners_card card bg-dark text-white">
                    <div class="partners_body card-body">
                        <h3 class="event_title card-title">partenaire associatif</h3>
                    </div>
                    <div class="event_card_image">
                        <a class="event_link_image"><img class="event_image card-img-top" src="{{ asset('build/partenaire/creditAgricole.png') }}" alt="Card image cap"  title="Cliquer sur l'image pour en savoir plus !" /></a>
                    </div>
                </div>
            </div>
          </div>
        <div class="partners_link">
            <a class="partners_btn btn btn-dark" href="/event/new">Create new</a>
        </div>
        <div class="partners_card">
                    <div class="partners_deck card-deck col-xs-12 col-md-6 col-xl-4">
                <div class="partners_card card bg-dark text-white">
                    <div class="partners_body card-body">
                        <h3 class="partners_title card-title">partenaire associatif</h3>
                    </div>
                    <div class="event_card_image">
                        <a class="partners_link_image"><img class="partners_image card-img-top" src="{{ asset('build/partenaire/creditAgricole.png') }}" alt="Card image cap"  title="Cliquer sur l'image pour en savoir plus !" /></a>
                    </div>
                </div>
            </div>
                    </div>
          <div class="partners_link">
            <a class="partners_btn btn btn-dark" href="/event/new">Create new</a>
        </div>
        <div class="partnerst_card">
                    <div class="partners_deck card-deck col-xs-12 col-md-6 col-xl-4">
                <div class="partners_card card bg-dark text-white">
                    <div class="partners_body card-body">
                        <h3 class="partners_title card-title">partenaire associatif</h3>
                    </div>
                    <div class="partners_card_image">
                        <a class="partners_link_image"><img class="partners_image card-img-top" src="{{ asset('build/partenaire/creditAgricole.png') }}" alt="Card image cap"  title="Cliquer sur l'image pour en savoir plus !" /></a>
                    </div>
                </div>
            </div>
        </div>
      </div>
</section>
    <div class="partner_events">
    <h2>Nos partenaires d'événements</h2>
    </div>
    <section class="row align-items-stretch photos">
        
        <div class="col-7 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="100">
          <a href="#" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{ asset('build/partenaire/creditAgricole.png') }}" alt="credit-agricole" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <a href="#" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{ asset('build/partenaire/polytech.jpeg') }}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>

        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
          <a href="#" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{ asset('build/partenaire/century21.png') }}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <a href="#" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{ asset('build/partenaire/creditAgricole.png') }}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <a href="#" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{ asset('build/partenaire/polytech.jpeg') }}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
    </section>
    
</section>
{% endblock %}
