{% extends 'base.html.twig' %}

{% block Title %}Contactez Nous{% endblock %}
{% block body %}
    <br>
    <br>
    <br>
    {{ form_start(form) }}
    <div>
        {{ form_label(form.firstname,'Votre prénom')}}
    </div>
    <div>
        {{ form_label(form.lastname,'Votre nom') }}
    </div>
    <div>
        {{ form_label(form.email,'Votre email') }}
    </div>
    <div>
        {{ form_label(form.subject,'Sujet') }}
    </div>
    <div>
        {{ form_label(form.description,'Message') }}
    </div>

    <input type="submit" value="Envoyer !">

    {{ form_end(form) }}
{% endblock %}

