{% extends 'base.html.twig' %}

 {% block body %}
     <!-- start banner Area -->
     <section class="banner-area relative">
         <div class="overlay overlay-bg"></div>
         <div class="container">
             <div class="row fullscreen d-flex align-items-center justify-content-between">
                 <div class="banner-content col-lg-6 col-md-12 ">
                     <h2 class=" banner-area-h2 text-uppercase font-italic">
                         Challenge yourself
                     </h2>
                 </div>
             </div>
         </div>
     </section>
     <!-- End banner Area -->
     <!-- ChoseUs Section Begin -->
     <section class="choseus-section spad">
         <div class="container">
             <div class="row">
                 <div class="col-lg-12">
                     <div class="section-title">
                         <span>Pourquoi nous choisir ?</span>
                         <h2>REPOUSSEZ VOS LIMITES</h2>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-lg-3 col-sm-6">
                     <div class="cs-item">
                         <span class="fa fa-bolt fa-3x"></span>
                         <h4>Boxe Anglaise</h4>
                         <h4>MMA</h4>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-6">
                     <div class="cs-item">
                         <span class="fa fa-sign-language fa-3x"></span>
                         <h4>Kick Boxing</h4>
                         <h4>Cardio Boxing</h4>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-6">
                     <div class="cs-item">
                         <span class="fa fa-heartbeat fa-3x"></span>
                         <h4>Cardio Training</h4>
                         <h4>Coaching</h4>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-6">
                     <div class="cs-item">
                         <span class="fa fa-users fa-3x"></span>
                         <h4>Hommes / Femmes</h4>
                         <h4>Enfants</h4>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <!-- ChoseUs Section End -->
     <!-- President -->
<section class="president_section">
    <div class="container">
         <div class="row justify-content-center">
             <div class="col-md-12 col-md-offset-2">
                 <div class="quote-card">
                     <div class="quote-marks">“</div>
                     <div class="quote">
                         <div class="quote-text">
                             L’association ELBAJA BOXING ACADEMY DE TOURS DES FONTAINES a été créée en 2000
                             dans l’objectif de promouvoir le sport, en particulier la boxe, au sein du quartier des Fontaines dans l’esprit du «vivre ensemble ».
                             <a class="president_link" href="{{ path('association_index') }}">en savoir plus...</a>
                         </div>
                     </div>
                     <div class="quote-profile clearfix">
                         <div class="quote-author-image"><img src="{{ asset('build/home/photo_president.jpg') }}" alt="president image" />
                         </div>
                         <div class="quote-author-name"> James ELBAJA
                             <span class="quote-author-info">Président ELBAJA BOXING CLUB</span>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</section>
     <!-- President Section End -->
     <!-- Trainers -->
<section class="trainer-area section-gap" id="trainer">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Nos coachs experimentés</h1>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-baseline">
            <div class="col-lg-3 col-md-6 single-trainer">
                <div class="thumb">
                    <img class="img-fluid" src="{{ asset('build/coach/barbara.jpg') }}" alt="trainer">
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>BARBARA RAJCA M.</h4>
                    <p>REMISE EN FORME ET AEROBOXE </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 single-trainer">
                <div class="thumb">
                    <img class="img-fluid" src="{{ asset('build/coach/nedjid.jpg') }}" alt="trainer">
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>NEDJID ELBAJA</h4>
                    <p>COORDINATEUR GENERAL ET COACH DE LA BOXE ANGLAISE </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 single-trainer">
                <div class="thumb">
                    <img class="img-fluid" src="{{ asset('build/coach/rachid.jpg') }}" alt="trainer">
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>RACHID MOULAHCENE</h4>
                    <p>BOXE EDUCATIVE 12/16 ANS</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <!--End Trainers -->
     <!-- Join Us-->
     <div class="cta">
         <div class="container">
             <div class="row">
                 <div class="col">
                     <div class="cta_content text-center">Réservez <a target="_blank" href="https://ebacorporation.youcanbook.me">un cours</a> !</div>
                 </div>
             </div>
         </div>
     </div>
     <!--End Join Us-->
 {% endblock %}
