{% extends 'base.html.twig' %}
{% block body %}
<section class="partners">
    <div class="center">
    <h1> Bienvenue sur la page de nos partenaires</h1>
    </div>
    <div class="assos">
    <h2>Nos partenaires associatifs</h2>
    </div>

    <section class="row align-items-stretch photos">
        
        <div class="col-7 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="100">
          <a href="#" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{ asset('build/partenaire/creditAgricole.png') }}" alt="credit-agricole" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <a href="#" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{ asset('build/partenaire/polytech.jpeg') }}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>

        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
          <a href="#" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{ asset('build/partenaire/century21.png') }}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <a href="#" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{ asset('build/partenaire/creditAgricole.png') }}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <a href="#" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{ asset('build/partenaire/polytech.jpeg') }}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
    </section>
    <div class="events">
    <h2>Nos partenaires d'événements</h2>
    </div>
    <section class="row align-items-stretch photos">
        
        <div class="col-7 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="100">
          <a href="#" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{ asset('build/partenaire/creditAgricole.png') }}" alt="credit-agricole" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <a href="#" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{ asset('build/partenaire/polytech.jpeg') }}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>

        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
          <a href="#" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{ asset('build/partenaire/century21.png') }}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <a href="#" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{ asset('build/partenaire/creditAgricole.png') }}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <a href="#" class="d-block photo-item" data-fancybox="gallery">
            <img src="{{ asset('build/partenaire/polytech.jpeg') }}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
    </section>
    
</section>
{% endblock %}
