{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
<section class="project_section">
    <h1><i class="fa fa-star" aria-hidden="true"></i> Nos projets en cours <i class="fa fa-star" aria-hidden="true"></i></h1>
        <div class="project_card row justify-content-around">
        {% for project in projects %}
            <div class="project_deck card-deck col-xs-12 col-md-6 col-xl-4">
                <div class="project_card card bg-dark text-white">
                    <img class="project_img card-img-top" src="{{ asset('build/project/project_1.jpg') }}" alt="Card image cap">
                    <div class="project_body card-body">
                        <h5 class="project_title card-title">{{ project.name }}</h5>
                        <p class="project_description card-text">{{ project.description }}</p>
                    </div>
                    <div class="project_footer card-footer">
                        <small class="project_text_footer text-white">{{ project.dateStart ? project.dateStart|date('d-m-Y') : '' }}</small>
                        <small class="project_text_footer text-white">{{ project.dateEnd ? project.dateEnd|date('d-m-Y') : '' }}</small>
                        <a class="project_show btn btn-success" href="{{ path('project_show', {'id': project.id}) }}">En savoir plus !</a>
                        <a class="project_edit btn btn-success" href="{{ path('project_edit', {'id': project.id}) }}">Editer</a>
                        <a class="project_new btn btn-success" href="{{ path('project_new') }}">Créer</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p colspan="7">no records found</p>
        {% endfor %}
    </div>
</section>

{% endblock %}
